[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
torch = {version = "==2.5.1+cpu", index = "pytorch-cpu"}
langchain = "*"
faiss-cpu = "*"
tiktoken = "*"
langchain-text-splitters = "*"
langchain-faiss = "*"
pypdf = "*"
pinecone-client = "*"
python-dotenv = "*"
langchain-ollama = "*"
langchain-community = "*"
chromadb = "*"
langchain-chroma = "*"
langchain-groq = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
ragas = "*"

[dev-packages]

[requires]
python_version = "3.12"
